<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBByLDcnrUrDSj8sCk99BJ2iBMIeXwnQts</string>
	<key>GCM_SENDER_ID</key>
	<string>1078175017564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zenflector</string>
	<key>PROJECT_ID</key>
	<string>zenflector-9bbba</string>
	<key>STORAGE_BUCKET</key>
	<string>zenflector-9bbba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078175017564:ios:ac3771edd36a1129c8d499</string>
</dict>
</plist>